/* roboto-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
}
:root {
  --mc-title-blue: #1f3b59;
  --mc-background-color: #ebedf4;
  --mc-link-blue: #007ce9;
  --mc-text: #5b7085;
}
a {
  text-decoration: none;
  color: var(--mc-title-blue);
}
body {
  padding: 2rem 2rem;
  background-color: var(--mc-background-color);
}
h1 {
  color: var(--mc-title-blue);
  font-weight: 400;
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 600;
  font-size: 1.15rem;
  margin-bottom: 0.6rem;
  color: var(--mc-title-blue);
}
p {
  font-weight: 400;
  font-size: 1em;
  margin: 0 0 0.5rem 0;
  color: var(--mc-text);
}
li {
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 1rem;
  color: var(--mc-text);
}
ul {
  padding: 0;
  margin-top: 1rem;
}

input,
textarea {
  border: 1px solid rgb(189, 188, 188);
  background-color: rgb(242, 246, 250);
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 300px;
  height: auto;
}
.error-message {
  font-weight: 600;
  color: red;
}

/* HOME PAGE*/

.home-title-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 3rem 0 1rem 0;
}
.home-title-container h1,
.home-title-container p {
  margin: 0;
}
.home-title-container p {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--mc-title-blue);
  font-weight: 500;
  margin-right: 0.5rem;
}
.coursecard {
  background-color: white;
  box-shadow: 5px 5px 20px lightgrey;
  max-width: 300px;
  min-height: 100%;
  border-radius: 20px;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.courseimage {
  width: 100%;
  margin-top: -30px;
}
.card-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.cardfooter {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.cardfooter > p {
  font-weight: 400;
}
.courselistcontainer {
  display: grid;
  padding-top: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 1rem;
  min-width: 0;
  width: fit-content;
}
.nav-link {
  max-width: fit-content;
}
.navigation {
  width: fit-content;
}
.homepage-container {
  margin: 0 auto;
  max-width: fit-content;
}
.cardimage-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.currentcourses {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.link-style {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--mc-link-blue);
}
.backhome {
  text-decoration: underline;
  font-weight: 500;
  text-underline-offset: 0.15rem;
  padding: 0.5rem;
}
.hours {
  color: var(--mc-title-blue);
}

/* COURSE DETAILS PAGE */
.coursedetailspage-container {
  max-width: fit-content;
  margin: 0 auto;
}

.courseDetails-container {
  background-color: white;
  /* margin: 1rem auto; */
  border-radius: 20px;
  box-shadow: 5px 5px 20px lightgrey;
  overflow: hidden;
  max-width: 70rem;
}
.detailsimage-container {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.details-title {
  margin: 2rem 2rem;
}
.coursedetails {
  display: flex;
}
.detailsimage {
  width: 100%;
  object-fit: cover;
}

.enrol-button,
.submit-button {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  background-color: var(--mc-link-blue);
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
}
.details-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 2rem;
  flex: 1;
}
.modules-flex {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 2rem;
  justify-content: space-between;
  flex: 1.5;
}
.modules-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: rgb(244, 247, 255);
  border-radius: 20px;
}
.detailshours {
  margin-top: 1.5rem;
}
.short-description {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--mc-title-blue);
}
.long-description {
  line-height: 1rem;
  line-height: 1.5rem;
}
.backhome {
  width: fit-content;
  margin-left: auto;
}

/* ADD NEW COURSE PAGE */
.addnewcoursepage-container {
  margin: 0 auto;
  /* width: fit-content; */
  max-width: 50em;
}

form > div > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
form > div > input,
form > div > textarea {
  padding: 0.2rem;
}
form > div > label {
  color: var(--mc-title-blue);
  margin-bottom: 0.2rem;
}
#longDescription {
  height: 5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
  .courselistcontainer {
    grid-template-columns: 1fr 1fr;
  }
  .coursedetails {
    flex-direction: column;
  }
  .enrol-button {
    margin-top: 3rem;
  }
  .coursedetailspage-container {
    margin: 0 1rem;
  }
}
/* 
@media screen and (max-width: 950px) {
  .coursedetailspage-container {
    margin: 0 2rem;
  }
} */

@media screen and (max-width: 700px) {
  /* body {
    padding: 2rem 0;
  } */
  .courselistcontainer {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .details-container {
    grid-template-columns: 1fr;
  }
  .modules-container {
    margin-top: 2rem;
  }
  .enrol-container {
    margin-top: 3.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .coursecard {
    margin-left: auto;
    margin-right: auto;
  }
  .coursedetailspage-container {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 550px) {
  .detailsimage-container {
    height: 100%;
  }
  /* .coursedetailspage-container {
    margin: 0 3rem;
  } */
}
