/* roboto-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/roboto-v50-latin/roboto-v50-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* border: 1px solid red; */
}
html {
  font-family: "Roboto", sans-serif;
}

:root {
  --mc-title-blue: #1f3b59;
  --mc-background-color: #ebedf4;
}

a {
  text-decoration: none;
  color: var(--mc-title-blue);
}
body {
  padding: 2rem;
  background-color: var(--mc-background-color);
}
h1 {
  color: var(--mc-title-blue);
  font-weight: 300;
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
  color: var(--mc-title-blue);
}
p {
  font-weight: 300;
  font-size: 1rem;
  margin: 0.5rem 0;
}
li {
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 1rem;
}
ul {
  padding: 0;
  margin-top: 1rem;
}
button {
  border-radius: 50px;
  width: 120px;
  border: 0.2px solid darkgrey;
  box-shadow: 2px 2px 5px rgb(217, 216, 216);
}

/* HOME PAGE*/

.coursecard {
  background-color: white;
  box-shadow: 5px 5px 20px lightgrey;
  padding: 0.5rem 1rem;
  max-width: 300px;
  min-height: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courseimage {
  width: 100%;
}
.cardfooter {
  display: flex;
  justify-content: space-between;
}
.cardfooter > p {
  font-weight: 400;
}
.courselistcontainer {
  display: grid;
  padding-top: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 1rem;
  min-width: 1065px;
  margin: 0 auto;
}
.cardimage-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

/* COURSE DETAILS PAGE */

.courseDetails-container {
  background-color: white;
  padding: 3rem;
  max-width: 95%;
  margin: 3rem auto;
  border-radius: 20px;
  box-shadow: 5px 5px 20px lightgrey;
  display: grid;
  grid-template-columns: 5.4fr 4.6fr;
  column-gap: 3rem;
}
.detailsimage {
  width: 100%;
}
.enrol-container {
  display: flex;
  justify-content: space-between;
}
.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.detailsimage-container {
  width: 100%;
}
.modules-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailshours {
  font-weight: 400;
}
.longdescrip {
  line-height: 1.3rem;
}
.backhome {
  width: fit-content;
  margin-left: auto;
  margin-right: 3rem;
}
.detailsimagemobile {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1120px) {
  .courselistcontainer {
    grid-template-columns: 1fr 1fr;
    min-width: 50%;
    max-width: 80%;
  }

  /* details page */
  .detailsimage {
    display: none;
  }
  .detailsimagemobile {
    display: block;
    width: 100%;
  }
  .courseDetails-container {
    grid-template-columns: 1fr;
    max-width: 80%;
  }
  .details-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .courselistcontainer {
    grid-template-columns: 1fr;
    /* min-width: 50%;
    max-width: 80%; */
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }

  /* delails page */

  .details-container {
    grid-template-columns: 1fr;
  }

  .modules-container {
    margin-top: 2rem;
  }
  .enrol-container {
    margin-top: 3.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .coursecard {
    margin-left: auto;
    margin-right: auto;
  }
}
